
.fw100{ font-weight: 100!important }
.fw200{ font-weight: 200!important }
.fw300{ font-weight: 300!important }
.fw400{ font-weight: 400!important }
.fw500{ font-weight: 500!important }
.fw600{ font-weight: 600!important }
.fw700{ font-weight: 700!important }
.fw800{ font-weight: 800!important }

.fs10{ font-size: : 10px!important }
.fs11{ font-size: 11px!important }
.fs12{ font-size: 12px!important }
.fs13{ font-size: 13px!important }
.fs14{ font-size: 14px!important }
.fs15{ font-size: 15px!important }
.fs16{ font-size: 16px!important }
.fs17{ font-size: 17px!important }
.fs18{ font-size: 18px!important }
.fs19{ font-size: 19px!important }
.fs20{ font-size: 20px!important }
.fs25{ font-size: 25px!important }
.fs30{ font-size: 30px!important }
.fs35{ font-size: 35px!important }
.fs40{ font-size: 40px!important }
.inline-block{
    display: inline-block!important;
}
.inline{
    display: inline!important;
}
.company_text h3,.company_text h4{
    margin-bottom: 5px;
}
.coloryellow{
    color:#d7ae31!important;
}
.elbox-title{
     color:#d7ae31;
     letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;

    
}

.elbox h5 {
    color: white;
    margin-bottom: 0;
    font-size: 12px;
}

.bgpostopcenter{
background-position: top  center!important;
}
.float-right{
    float: right;
}
input[type], textarea, select {
    -webkit-appearance: none;
    background: transparent;
    padding: 1em 1em 1em 2em;
    border-radius: 30px;
    border: 1px solid #ececec;
    text-transform: uppercase;
    font-size: 10px;
    height: 40px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .yellowbtn{
        background: #d7ae31;
        border-color: #d7ae31;
            border-color: #d7ae31!important;
    border-radius: 30px;

    }

    .type--uppercase .btn__text {
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-right: -0.5px;
    font-size: 11px;
}

.bar .menu-horizontal{
    font-size: 11px;
    letter-spacing: 1.6px;
}

.bg-gradient-black{
background: rgba(4,0,0,1);
background: -moz-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(31,31,31,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,0,0,1)), color-stop(100%, rgba(31,31,31,1)));
background: -webkit-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(31,31,31,1) 100%);
background: -o-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(31,31,31,1) 100%);
background: -ms-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(31,31,31,1) 100%);
background: linear-gradient(to bottom, rgba(4,0,0,1) 0%, rgba(31,31,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040000', endColorstr='#1f1f1f', GradientType=0 );
}

.bg-gradient-black2{
background: rgba(4,0,0,1);
background: -moz-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(30,30,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,0,0,1)), color-stop(100%, rgba(30,30,30,1)));
background: -webkit-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(30,30,30,1) 100%);
background: -o-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(30,30,30,1) 100%);
background: -ms-linear-gradient(top, rgba(4,0,0,1) 0%, rgba(30,30,30,1) 100%);
background: linear-gradient(to bottom, rgba(4,0,0,1) 0%, rgba(30,30,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040000', endColorstr='#1e1e1e', GradientType=0 );
}
.bg-gradient-yellow{
background: rgba(220,183,37,1);
background: -moz-linear-gradient(top, rgba(220,183,37,1) 0%, rgba(254,246,154,1) 48%, rgba(221,182,40,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220,183,37,1)), color-stop(48%, rgba(254,246,154,1)), color-stop(100%, rgba(221,182,40,1)));
background: -webkit-linear-gradient(top, rgba(220,183,37,1) 0%, rgba(254,246,154,1) 48%, rgba(221,182,40,1) 100%);
background: -o-linear-gradient(top, rgba(220,183,37,1) 0%, rgba(254,246,154,1) 48%, rgba(221,182,40,1) 100%);
background: -ms-linear-gradient(top, rgba(220,183,37,1) 0%, rgba(254,246,154,1) 48%, rgba(221,182,40,1) 100%);
background: linear-gradient(to bottom, rgba(220,183,37,1) 0%, rgba(254,246,154,1) 48%, rgba(221,182,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcb725', endColorstr='#ddb628', GradientType=0 );
}
.textblack{
    color:black!important;
}
.textwhite{
    color:white!important;
}

.cta.cta-box {
    padding: 30px;
        border-radius: 30px;

}
.mb--0{
    margin-bottom: 0px!important;
}
.bar.pos-fixed .logo {
    width: auto!important;
    height: auto!important;
    max-height: 100%!important;
}

img.infographic {
    margin-top: -40px;
}
.font_small h4 {
    font-size: 13px;
}

img.s-logo-2 {
    margin-top: -115px;
}

.rankbox {
    height: 90px;
    /* background: red; */
    text-align: left;
    line-height: 90px;
}

.rankicon {
    vertical-align: middle;
    display: inline-block;
    /* width: 50px; */
    /* height: auto; */
    margin-top: 15px;
    margin-right: 30px;
}

.rankiconplus {
    float: right;
    /* display: table-column-group; */
    margin-left: 20px;
    margin-top: 35px;
}

.rankbox h4 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.whitebox h4 {
    color: #000!important;
    margin-bottom: 2px;
    font-size: 15px;
}

.whitebox {
    text-align: left;
}

p.copyright {
    font-size: 11px;
    text-transform:  uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
.footer .list-inline li {
    margin-right: 10px;
}
.footer-right h4 {
    font-size: 11px;
    color: #d7ae31;
    margin-bottom: 0;
    margin-top: 15px;
    letter-spacing: 2px;
}

.footer-right {
    text-align: left;
}

.footer-right h5 {
    font-size: 15px;
    margin-bottom: 0px;
    color: white;
}
section#address {
    padding-bottom: 0;
}
.infographsection {
    padding-bottom: 0px;
}


@media (max-width: 768px){
.col-md-8.offset-6.mt--3.elbox {
    margin-left: 0px;
    margin-top: 0;
}

img.s-logo-2 {
    margin-top: 10px;
}


.footer-right {
    text-align: center;
    margin: 0;
}

.footer-right h4 {
    display: inline;
    margin-left: 18px;
}

.footer-right h5 {
    display: inline;
}


.centerinsmallscreen{
    text-align: center;
}
.blockviewinsmscreen{
    display: block!important;
}
}

.introjs-overlay{position:absolute;box-sizing:content-box;z-index:999999;background-color:#000;opacity:0;background:-moz-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(0,0,0,.4)),color-stop(100%,rgba(0,0,0,.9)));background:-webkit-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-o-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-ms-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-fixParent{z-index:auto!important;opacity:1!important;-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important}.introjs-showElement,tr.introjs-showElement>td,tr.introjs-showElement>th{z-index:9999999!important}.introjs-disableInteraction{z-index:99999999!important;position:absolute;background-color:#fff;opacity:0}.introjs-relativePosition,tr.introjs-showElement>td,tr.introjs-showElement>th{position:relative}.introjs-helperLayer{box-sizing:content-box;position:absolute;z-index:9999998;background-color:#fff;background-color:rgba(255,255,255,.9);border:1px solid #777;border:1px solid rgba(0,0,0,.5);border-radius:4px;box-shadow:0 2px 15px rgba(0,0,0,.4);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-tooltipReferenceLayer{box-sizing:content-box;position:absolute;visibility:hidden;z-index:100000000;background-color:transparent;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-helperLayer *,.introjs-helperLayer :after,.introjs-helperLayer :before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box}.introjs-helperNumberLayer{box-sizing:content-box;position:absolute;visibility:visible;top:-16px;left:-16px;z-index:9999999999!important;padding:2px;font-family:Arial,verdana,tahoma;font-size:13px;font-weight:700;color:#fff;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.3);background:#ff3019;background:-webkit-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff3019),color-stop(100%,#cf0404));background:-moz-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-ms-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-o-linear-gradient(top,#ff3019 0,#cf0404 100%);background:linear-gradient(to bottom,#ff3019 0,#cf0404 100%);width:20px;height:20px;line-height:20px;border:3px solid #fff;border-radius:50%;box-shadow:0 2px 5px rgba(0,0,0,.4)}.introjs-arrow{border:5px solid transparent;content:'';position:absolute}.introjs-arrow.top{top:-10px;border-bottom-color:#fff}.introjs-arrow.top-right{top:-10px;right:10px;border-bottom-color:#fff}.introjs-arrow.top-middle{top:-10px;left:50%;margin-left:-5px;border-bottom-color:#fff}.introjs-arrow.right{right:-10px;top:10px;border-left-color:#fff}.introjs-arrow.right-bottom{bottom:10px;right:-10px;border-left-color:#fff}.introjs-arrow.bottom{bottom:-10px;border-top-color:#fff}.introjs-arrow.bottom-right{bottom:-10px;right:10px;border-top-color:#fff}.introjs-arrow.bottom-middle{bottom:-10px;left:50%;margin-left:-5px;border-top-color:#fff}.introjs-arrow.left{left:-10px;top:10px;border-right-color:#fff}.introjs-arrow.left-bottom{left:-10px;bottom:10px;border-right-color:#fff}.introjs-tooltip{box-sizing:content-box;position:absolute;visibility:visible;padding:10px;background-color:#fff;min-width:200px;max-width:300px;border-radius:3px;box-shadow:0 1px 10px rgba(0,0,0,.4);-webkit-transition:opacity .1s ease-out;-moz-transition:opacity .1s ease-out;-ms-transition:opacity .1s ease-out;-o-transition:opacity .1s ease-out;transition:opacity .1s ease-out}.introjs-tooltipbuttons{text-align:right;white-space:nowrap}.introjs-button{box-sizing:content-box;position:relative;overflow:visible;display:inline-block;padding:.3em .8em;border:1px solid #d4d4d4;margin:0;text-decoration:none;text-shadow:1px 1px 0 #fff;font:11px/normal sans-serif;color:#333;white-space:nowrap;cursor:pointer;outline:0;background-color:#ececec;background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));background-image:-moz-linear-gradient(#f4f4f4,#ececec);background-image:-o-linear-gradient(#f4f4f4,#ececec);background-image:linear-gradient(#f4f4f4,#ececec);-webkit-background-clip:padding;-moz-background-clip:padding;-o-background-clip:padding-box;-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;zoom:1;margin-top:10px}.introjs-button:hover{border-color:#bcbcbc;text-decoration:none;box-shadow:0 1px 1px #e3e3e3}.introjs-button:active,.introjs-button:focus{background-image:-webkit-gradient(linear,0 0,0 100%,from(#ececec),to(#f4f4f4));background-image:-moz-linear-gradient(#ececec,#f4f4f4);background-image:-o-linear-gradient(#ececec,#f4f4f4);background-image:linear-gradient(#ececec,#f4f4f4)}.introjs-button::-moz-focus-inner{padding:0;border:0}.introjs-skipbutton{box-sizing:content-box;margin-right:5px;color:#7a7a7a}.introjs-prevbutton{-webkit-border-radius:.2em 0 0 .2em;-moz-border-radius:.2em 0 0 .2em;border-radius:.2em 0 0 .2em;border-right:none}.introjs-prevbutton.introjs-fullbutton{border:1px solid #d4d4d4;-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em}.introjs-nextbutton{-webkit-border-radius:0 .2em .2em 0;-moz-border-radius:0 .2em .2em 0;border-radius:0 .2em .2em 0}.introjs-nextbutton.introjs-fullbutton{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em}.introjs-disabled,.introjs-disabled:focus,.introjs-disabled:hover{color:#9a9a9a;border-color:#d4d4d4;box-shadow:none;cursor:default;background-color:#f4f4f4;background-image:none;text-decoration:none}.introjs-hidden{display:none}.introjs-bullets{text-align:center}.introjs-bullets ul{box-sizing:content-box;clear:both;margin:15px auto 0;padding:0;display:inline-block}.introjs-bullets ul li{box-sizing:content-box;list-style:none;float:left;margin:0 2px}.introjs-bullets ul li a{box-sizing:content-box;display:block;width:6px;height:6px;background:#ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;text-decoration:none;cursor:pointer}.introjs-bullets ul li a:hover{background:#999}.introjs-bullets ul li a.active{background:#999}.introjs-progress{box-sizing:content-box;overflow:hidden;height:10px;margin:10px 0 5px 0;border-radius:4px;background-color:#ecf0f1}.introjs-progressbar{box-sizing:content-box;float:left;width:0%;height:100%;font-size:10px;line-height:10px;text-align:center;background-color:#08c}.introjsFloatingElement{position:absolute;height:0;width:0;left:50%;top:50%}.introjs-fixedTooltip{position:fixed}.introjs-hint{box-sizing:content-box;position:absolute;background:0 0;width:20px;height:15px;cursor:pointer}.introjs-hint:focus{border:0;outline:0}.introjs-hidehint{display:none}.introjs-fixedhint{position:fixed}.introjs-hint:hover>.introjs-hint-pulse{border:5px solid rgba(60,60,60,.57)}.introjs-hint-pulse{box-sizing:content-box;width:10px;height:10px;border:5px solid rgba(60,60,60,.27);-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background-color:rgba(136,136,136,.24);z-index:10;position:absolute;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.introjs-hint-no-anim .introjs-hint-dot{-webkit-animation:none;-moz-animation:none;animation:none}.introjs-hint-dot{box-sizing:content-box;border:10px solid rgba(146,146,146,.36);background:0 0;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px;height:50px;width:50px;-webkit-animation:introjspulse 3s ease-out;-moz-animation:introjspulse 3s ease-out;animation:introjspulse 3s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-iteration-count:infinite;position:absolute;top:-25px;left:-25px;z-index:1;opacity:0}@-webkit-keyframes introjspulse{0%{-webkit-transform:scale(0);opacity:0}25%{-webkit-transform:scale(0);opacity:.1}50%{-webkit-transform:scale(.1);opacity:.3}75%{-webkit-transform:scale(.5);opacity:.5}100%{-webkit-transform:scale(1);opacity:0}}@-moz-keyframes introjspulse{0%{-moz-transform:scale(0);opacity:0}25%{-moz-transform:scale(0);opacity:.1}50%{-moz-transform:scale(.1);opacity:.3}75%{-moz-transform:scale(.5);opacity:.5}100%{-moz-transform:scale(1);opacity:0}}@keyframes introjspulse{0%{transform:scale(0);opacity:0}25%{transform:scale(0);opacity:.1}50%{transform:scale(.1);opacity:.3}75%{transform:scale(.5);opacity:.5}100%{transform:scale(1);opacity:0}}

